@use '../variables.scss';

.header {
  font-family: "Montserrat";
  height: 100%;
  width: 100%;
  color: variables.$primary-color;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  &-title {
    margin: auto 0 0 0;

    font-size: 2.5em;
  }

  &-subtitle {
    margin: 5px 0 10px 0;

    font-size: 1.5em;
  }
}

@media (max-height: variables.$small-device-height) {
  .header {
    flex: 0;

    &-title {
    margin-top: 10px;
  }
  }
}