nav {
  position: sticky;
  top: 0;

  background-color: blueviolet;

  color: white;

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    li {
      flex: 1;
      
      text-align: center;
      
      &:hover {
        background-color: violet;
      }
      
      a {
        padding: 5px;
        display: inline-block;
        width: 100%;

        text-decoration: none;

        &.active {
          color: lightpink;
        }
      }
    }
  }
}