@use '../variables.scss';

$hover-animation-duration: 150ms;

.navigation {
  position: sticky;
  top: 0;

  background-color: variables.$primary-color;

  &-links {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    &-item {
      flex: 1;
      display: flex;
      
      &:hover {
        background-color: variables.$tertiary-color;
        transition: background-color $hover-animation-duration;

        a {
          color: variables.$accent-color;
          transition: color $hover-animation-duration;
        }
      }
      
      a {
        display: inline-block;
        text-align: center;
        padding: 5px 0;
        width: 100%;

        color: variables.$secondary-color;
        font-weight: bold;

        &.active {
          color: variables.$accent-color;
        }
      }
    }
  }
}