@use '../variables.scss';

$article-margin: 20px;
$text-margin: 15px;
$title-margin: 5px;

article {
    border-bottom: 1px solid variables.$secondary-color;

    margin-bottom: $article-margin;
    padding-bottom: $article-margin;

    &:last-child {
        border-bottom: none;

        margin-bottom: 0;
        padding-bottom: 0;
    }

    header {
        color: variables.$primary-color;

        font-family: "Oswald";

        h2 {
            margin: $title-margin 0;
        }

        p {
            margin: 0;

            font-style: italic;
        }

        time {
            font-size: 0.8em;
        }
    }

    p {
        margin: 0;
        margin-top: $text-margin;
    }
}