@use './variables.scss';

#title {
  display: flex;
  flex: 1;
}

#page {
  padding: 5px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  max-width: 1080px;

  border: 1px solid variables.$primary-color;
  background-color: variables.$text-background-color;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.hidden-overflow {
  max-height: 100%;
  overflow-y: hidden;
}

main {
  padding: 15px;

  text-align: justify;

  max-height: 100%;
  overflow-y: auto;
}

@media (max-height: variables.$small-device-height) {
  #title {
    flex: none;
  }
}