@use 'variables.scss';

body {
  margin: 0;

  background-color: variables.$background-color;
  background-image: url(/public/doodles_placeholder_light.png), url(/public/doodles_placeholder_light.png);
  background-position: top left, top right;
  background-repeat: repeat-y;
  background-blend-mode: screen;
  background-attachment: scroll;

  color: variables.$text-color;
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}