@use 'variables.scss';

body {
  margin: 0;

  background:
    linear-gradient(45deg, transparent 48%, variables.$background-color 48% 52%, transparent 52%),
    linear-gradient(-45deg, transparent 48%, variables.$background-color 48% 52%, transparent 52%);
  background-size: 1em 1em;

  color: variables.$black-color;
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

a {
  color: variables.$tertiary-color;

  &:hover {
    color: variables.$primary-color;
  }
}